@import 'help-modal.less';

body {
  background: white;
  font-size: 64px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}


.is-dragging & *:not(.is-being-dragged) {
  pointer-events: none;
}

#you,
.speaker {
  z-index: 100;
  -webkit-user-select: none;
  position: absolute;
  top: ~'calc(50% - 32px)';
  display: inline-block;
  cursor: -webkit-grab;

  &.is-being-dragged {
    cursor: -webkit-grabbing;
  }
}


.speaker {
  transition: transform 50ms;
}